/* colors */
:root {
    --gray: #4b5161;
    --white: #f0f8ff;
    --purple: #b7b3e1;
    --blue: #c4e0fd;
    --pink: #ffc9e0;
}

/* animation */
@-webkit-keyframes GradientAnim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes GradientAnim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes GradientAnim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@font-face {
    font-family: Karla;
    src: url('/assets/Karla-Medium.ttf');
}

/* common */
html,
body {
    min-height: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    color: var(--gray);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: unset;
    background: linear-gradient(270deg,
            var(--purple),
            var(--blue),
            var(--pink));
    background-size: 600% 600%;
    -webkit-animation: GradientAnim 30s ease infinite;
    -moz-animation: GradientAnim 30s ease infinite;
    animation: GradientAnim 30s ease infinite;
}

h1 {
    font-size: 1.3em;
}

a, button {
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    border: unset;
    padding: 0 1px;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-size: 1em;
    padding: 0 .1em;
}

li {
    margin: 10px 0;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.photo-container {
    text-align: center;
}

.photo-container>.photo {
    border-radius: 50%;
}